.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-center{
   
}
.uppercase{
    text-transform: uppercase;
}
.space-between{
    justify-content: space-between;
}
.mp{
    margin-left: 12px;
    margin-right: 12px;
}
.bold{
    font-weight: bold;
}
.section1{
    background-color: #fff6f6;
   
}